* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgba(254, 44, 85, 1);
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-sitebar-width: 355px;
}

html,
body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    caret-color: var(--primary);
}

a[href] {
    color: black;
    text-decoration: none;
}