* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-sitebar-width: 355px;
}

html,
body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}